@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.container {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  .main {
    .navbar {
      max-width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 7rem;
      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          font-size: 1.5rem;
        }
        .navlinks {
          padding: 0rem 2rem;
          .link {
            padding-right: 20px;
            color: hsl(0, 0%, 75%);
          }
        }
      }
      .right {
        .login {
          border: none;
          background-color: white;
          color: hsl(0, 0%, 75%);
        }
        .signup {
          background-color: hsl(180, 66%, 49%);
          border: none;
          color: white;
          padding: 10px 1.2rem;
          margin: 0rem 0.5rem;
          border-radius: 50px;
        }
      }
    }
    .hero {
      max-width: 80%;
      margin: auto;
      .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 60vh;
        .leftside {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          h1 {
            font-size: 3rem;
            font-weight: 700;
            margin: 0px;
          }
          p {
            color: hsl(257, 7%, 63%);
          }
          button {
            background-color: hsl(180, 66%, 49%);
            border: none;
            color: white;
            padding: 10px 2rem;
            border-radius: 50px;
            font-size: 17px;
            font-weight: 600;
          }
        }
        .rightside {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      .linkinput {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 5rem;
        background-color: hsl(257, 27%, 26%);
        border-radius: 5px;
        padding: 2rem 0px;
        input {
          min-width: 70%;
          border-radius: 5px;
          border: white;
          padding: 10px 1rem;
        }
        button {
          background-color: hsl(180, 66%, 49%);
          border: none;
          color: white;
          padding: 10px 1.2rem;
          margin: 0rem 0.5rem;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .links {
      background-color: hsl(0, 0%, 90%);
      padding: 5px 0px;
      .shortlink {
        max-width: 80%;
        margin: 10px auto 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1rem;
        background-color: white;
        border-radius: 5px;
        p {
          padding: 0px 1rem;
          font-size: 1.5em;
          margin: 10px 0px;
        }
        .rightside {
          a {
            color: hsl(180, 66%, 49%);
            font-size: 1.1em;
          }
          button {
            background-color: hsl(180, 66%, 49%);
            border: none;
            color: white;
            padding: 10px 1.2rem;
            margin: 0rem 0.5rem;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .cardsection {
      background-color: hsl(0, 0%, 90%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 70vh;
      .cardsectitle {
        max-width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3rem 0px;
        h1 {
          font-size: 2rem;
          font-weight: 700;
        }
        p {
          color: hsl(257, 7%, 63%);
          padding: 0px 9rem;
          text-align: center;
        }
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        margin: 30px auto;
        max-height: 60%;
        .card {
          min-width: 90%;
          background-color: white;
          border-radius: 5px;
          padding: 10px;
          margin: 0px 10px;
          h1 {
            font-size: 1.3rem;
          }
          p {
            font-size: 0.9rem;
            color: hsl(257, 7%, 63%);
          }
        }
      }
    }

    .calltoaction {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 25vh;
      background-color: hsl(257, 27%, 26%);
      h2 {
        color: white;
        padding-bottom: 2rem;
        margin: 0px;
      }
      button {
        background-color: hsl(180, 66%, 49%);
        border: none;
        color: white;
        padding: 10px 1.2rem;
        margin: 0rem 0.5rem;
        border-radius: 25px;
      }
    }

    .footerwrapper {
      min-height: 30vh;
      background-color: hsl(260, 8%, 14%);
      .footer {
        background-color: hsl(260, 8%, 14%);
        max-width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        color: white;
        min-height: 100%;
        .links {
          background-color: hsl(260, 8%, 14%);
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
        }
      }
    }
  }
}
